<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field flex flex-col px-8 py-4 text-center">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field flex flex-col px-8 py-4  items-center text-center">
    <%= form.label :image, id: "pictureInput", class: "rounded-lg border-2 border-gray-400 cursor-pointer px-4 py-2" do %>
      Upload image
      <%= form.file_field :image, class: "flex flex-col hidden" %>
    <% end %>
    <div id="target" class="py-8 w-24">
    </div>
  </div>

  <div class="actions text-center pt-8">
    <%= form.submit "Create group", class: "bg-blue-500 rounded text-gray-50 py-2 px-4" %>
  </div>
<% end %>
