<div class="flex justify-between shadow bg-white p-4">
  <h2 class="text-lg">Total</h2>
  <p class="text-lg font-semibold">$<%= all_expenses_total(@group.expenses) %></p>
</div>

<% @group.expenses.each do |expense| %>
  <%= link_to expense_path(expense) do %>
  <div class="flex p-3 m-2 bg-white shadow rounded font-semibold">
    <%= display_group_image(@group) %>
      <div class="flex flex-col justify-between w-full pl-3 pt-2">
        <div class="flex justify-between">
          <p class="text-gray-400"><%= expense.name %></p>
          <p class="text-gray-700">$<%= '%.2f' % expense.amount %></p>
        </div>
        <div class="flex flex-row justify-between text-xs text-gray-400">
          <p><%= expense.created_at.strftime("%d %b %Y") %></p>
          <p>Created by <%= current_user.name %></p>
        </div>
      </div>
  </div>
  <% end %>
<% end %>