<%= form_with(model: expense) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation" class="text-center py-2 px-8 bg-red-500 text-gray-100">
      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field flex flex-col px-8 text-center ">
    <%= form.label 'Expense name', class: "py-1 text-lg" %>
    <%= form.text_field :name %>
  </div>

  <div class="field flex flex-col px-8 py-4 text-center">
    <%= form.label :amount, class: "py-1 text-lg" %>
    <%= form.text_field :amount %>
  </div>

  <div class="control">
    <%= form.label "Groups" %>
    <%= form.collection_check_boxes(:group_ids, current_user.groups, :id, :name) do |b| %>
      <%= b.check_box %>
      <%= b.label %>
    <% end %>
  </div>

  <div class="actions text-center pt-8">
    <%= form.submit "Submit", class: "bg-blue-500 rounded-md text-gray-50 py-2 px-4" %>
  </div>
<% end %>
